<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let image of picArray | async">
      <ion-thumbnail item-start>
          <img *ngIf="image.media_type =='image'" [src]="mediaPath +(image.filename | thumbnail: 'small') ">
          <video *ngIf="image.media_type == 'video'" [src]="mediaPath + (image.filename | thumbnail: 'small')" controls></video>
      </ion-thumbnail>
      <h2>{{ image.title}}</h2>
      <p>{{ image.description }}</p>
      <p>{{ image.time_added | date:'h:mma, d MMM, y' }}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>
